* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.spacedDiv {
  margin-bottom: 10px;
}


.walletButton {
  width: 120px;
  height: 35px;
  color: white;
  background-color: black;
  border-radius: 10px;
  border-width: 0;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
}

.black {
  color: black;
}

.text-blue {
  color: #3674e5;
}

.bg-blue {
  background-color: #3674e5;
}

.inputBoxStyle {
  height: 40px;
  border-radius: 10px;
  border: 0.5px solid #D3D3D3; 
  padding-inline: 10px;
}

.dropDownStyle {
  height: 40px;
  border-radius: 10px;
  border: 0.5px solid #D3D3D3;
  padding-inline: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.iconStyle {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}